
.upload{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.upload i{
    font-size: 30px;
    cursor: pointer;
}

.upload input{
    display: none;
}

.fa-ban{
    cursor: pointer;
    color: red;
}